<nav>
    <ul>
        <li style="display:inline-block;font-size:30px;"><a href="/">Home</a></li>
        <li style="display:inline-block;font-size:30px;"><a href="/contact">Contact</a></li>
        <li style="display:inline-block;font-size:30px;"><a href="/profile/:name">Profile</a></li>
    </ul>
</nav>