<html>
    <head>
        
    </head>
    <body style="background:skyblue;font-faamily:verdana;color:#fff;padding:30px;"> 
    <% include partials/nav.ejs %>
        <h1 style="font-size:48px;text-transform:uppercase;letter-spacing:2px;text-align:center;"> contact us</h1>
        <p style="font-size:16px;text-align:center;">hi,thanks for getting in touch</p>
        <p style="font-size:26px;text-align:center;color:#000;">you contacted <%= data.who %> in the <%= data.department %></p>
        <p style="font-size:26px;text-align:center;color:#000;">we will reply to you at <%= data.email %></p>

        
    </body>
</html>