<html>
    <head>
        
    </head>
    <body style="background:skyblue;font-faamily:verdana;color:#fff;padding:30px;"> 
    <% include partials/nav.ejs %>
        <h1 style="font-size:48px;text-transform:uppercase;letter-spacing:2px;text-align:center;"> contact us</h1>
        <p style="font-size:16px;text-align:center;">hi,adjaskfsjkdfhjsdhfjdhf</p>
        <p style="font-size:26px;text-align:center;color:#000;"><%= qs.dept %></p>
        <p style="font-size:26px;text-align:center;color:#000;"><%= qs.person %></p>

        <form id="contact-form" method="POST" action="/contact">
            <label for="who">Who do you want to contact?</label>
            <input type="text" name="who" value="<%= qs.person %>"/>
            <label for="department">Which department?</label>
            <input type="text" name="department" value="<%= qs.dept %>"/>
            <label for="email">your email</label>
            <input type="email" name="email"/>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>