<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body style=""> 
    <% include partials/nav.ejs %>
        <h1 style=""> welcome to the sample app</h1>
        <p style="">hi,adjaskfsjkdfhjsdhfjdhf</p>
    </body>
</html>